# Copy this file to .env and fill in your values
# Get your Plaid API keys from the Plaid dashboard: https://dashboard.plaid.com/

# Your Plaid client ID
PLAID_CLIENT_ID=

# Your Plaid secret (use sandbox secret for development)
PLAID_SECRET=

# The Plaid environment to use ('sandbox' or 'production')
PLAID_ENV=sandbox

# Optional: The URL for receiving webhooks
# If you want to test out webhooks, you can use a tool like ngrok to get a public URL
# that will forward requests to your local webhook server running on port 8001
WEBHOOK_URL=https://www.example.com/server/receive_webhook
